<link rel="stylesheet" href="/css/home.css" />
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
/>

<nav class="navbar navbar-expand-md bg-dark text-white">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link link-light" href="/home">Chatroom</a>
    </li>
  </ul>
  <div class="justify-content-center">
    <form class="form-inline" onsubmit="return false">
      <input class="form-control mr-sm-2" id="roomName" type="text" name="roomName" placeholder="Enter a room name" />
      <input id="create" class="btn btn-success my-2 my-sm-0" type="submit" value="Create Room"/>
    </form>
  </div>
  <div class="ml-auto">
    <ul class="navbar-nav">
      <li class="nav-item">
      <a class="nav-link link-light" href="/profile">My Profile</a>
      </li>

      <li class="nav-item">
        <a id="sign-out" class="nav-link link-light" href="#">Sign Out</a>
      </li>
    </ul>
  </div>
</nav>

<div class="homeContent">
<div class ="homeMessage">
  <p>This is the {{title}} page. Below are the rooms that are currently available. If none of them interest
    you, make your own!</p>
</div>
  {{#if isAvailable}}
    <ul id="list-template">
      {{#each rooms}}
        <li> <a href={{this.name}}> {{this.name}} </a></li>
      {{/each}}
    </ul>
  {{/if}}
</div>

<script src="https://twitter.github.io/typeahead.js/js/handlebars.js"></script>
<script>
  window.addEventListener('load', function () { 
  document.getElementById('sign-out').addEventListener('click', () => {signOut()});
  setInterval(async function(){
    fetch('http://localhost:8080/getRoom') 
    .then(response => response.json())
    .then(data => { 
      var roomsJson = data;
      var html = "";
      var ul_element = document.getElementById('list-template');
      document.getElementById('list-template').innerHTML=" " 
      for(var j = 0; j < roomsJson.length; ++j) { 
        var li = document.createElement('li'); 
        var a = document.createElement('a'); 
        a.setAttribute('href', roomsJson[j].name);
        li.appendChild(a); 
        document.getElementById('list-template').appendChild(li);
        a.innerHTML = a.innerHTML + roomsJson[j].name;
      } 
    }).catch(err => {
      console.log("ERROR" + err) }); 
    }, 3000);
    document.getElementById('create').addEventListener('click', () => {create()});
  }
  );

  const signOut = async () => {
    await localStorage.clear();
    window.location.replace("/login");
  }
  const create = async () => {
    console.log("create");
    var match = false;
    const name = document.getElementById('roomName').value;
    const check = await fetch('http://localhost:8080/getRoom').then(response => response.json())
    .then(data => {
      for (let i = 0; i < data.length; i++) {
        if (name.trim() === data[i].name) {
          match = true;
        }
      }
    });
    if (match) {
      document.getElementById('roomName').value = ""
      document.getElementById('roomName').placeholder = "Please enter a unique name for room."
      return;
    }

    const data = {
      roomName: name
    };
    const response = fetch("http://localhost:8080/create", {
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify(data)
            }).then(document.getElementById('roomName').value = "");
  }
</script>