<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
{{!-- important to reference jquery before bootstrap --}}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<nav class="navbar navbar-expand-lg bg-dark text-white">
    <h1><a class="link-light" href="/">Register</a></h1>
</nav>
<h1>Login</h1>
<div>
    <form id="loginForm" onsubmit="return false">
        <input type="text" id="username" placeholder="username" required/>
        <input type="password" id="password" placeholder="password" required/>
        <input type="submit" value="Submit"/>
    </form>
</div>

<script>
    const form = document.getElementById('loginForm');
    form.addEventListener("submit", loginUser)

    async function loginUser(event) {
        const username = document.getElementById("username").value;
        const password = document.getElementById("password").value;

        const result = await fetch("/api/login", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                username, password
            })
        });

        console.log(result.status);
        if (result.status == "200") {
            alert('success');
            console.log("Got the token: ", result.data);
            localStorage.setItem("token", result.data); //helps authenticate by logging in only once
        } else {
            console.log("failed");
            alert(result.error);
        }
    }
</script>
