<link rel="stylesheet" href="/css/registration.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
{{!-- important to reference jquery before bootstrap --}}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<nav class="navbar navbar-expand-md bg-dark text-white">
    <ul class="navbar-nav mr-auto">
        <h2>Chatroom</h2>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="link-light nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
            <a class="link-light nav-link" href="/">Register</a>
        </li>
    </ul>
</nav>

<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center align-items-center" style="height: 80vh;">
            <div style="width: 300px; height: auto;">
                <h1>Register</h1>
                <form id="registrationForm" onsubmit="return false">
                <input type="text" id="username" placeholder="username" required/> </br>
                <input type="password" id="password" placeholder="password" required/> </br>
                <input type="submit" value="Submit"/>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    const form = document.getElementById('registrationForm');
    form.addEventListener("submit", registerUser)

    async function registerUser(event) {
        const username = document.getElementById("username").value;
        const password = document.getElementById("password").value;
        //console.log(username, password);
        const result = await fetch("/api/register", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                username, password
            })
        });
        console.log(result.status);
        if (result.status == "200") {
            alert('success'); 
            //do something here.
        } else {
            alert(result.error);
        }
        document.getElementById("username").value = "";
        document.getElementById("password").value = "";
    }
</script>
