<link rel="stylesheet" href="/css/registration.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
{{!-- important to reference jquery before bootstrap --}}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<nav class="navbar navbar-expand-md bg-dark text-white">
    <ul class="navbar-nav mr-auto">
        <h2>Chatroom</h2>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="link-light nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
            <a class="link-light nav-link" href="/">Register</a>
        </li>
    </ul>
</nav>

<h1 class="row justify-content-center">Register</h1>
<form class="row" id="registrationForm" onsubmit="return false">
    <div class="col-lg-6 mx-auto">
    <div class="form-group">
        <label for="email-label">Email</label>
        <input class="form-control" type="email" id="email" placeholder="Enter an email" required/>
    </div>
    <div class="form-group">
        <label for="username-label">Username</label>
        <input class="form-control" type="text" id="username" placeholder="Enter a username" required/>
    </div>
    <div class="form-group">
        <label for="password-label">Password</label>
        <input class="form-control" type="password" id="password" placeholder="Enter a password" required/>
    </div>
    <input class="btn btn-primary" type="submit" value="Submit"/>
    </div>
</form>


<script>
    const form = document.getElementById('registrationForm');
    form.addEventListener("submit", registerUser);

    async function registerUser(event) {
        const username = document.getElementById("username").value;
        const password = document.getElementById("password").value;
        const email = document.getElementById("email").value;
        //console.log(username, password);
        const result = await fetch("/api/register", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                username, password, email
            })
        }).then((res) => res.json());

        if (result.status == "success") {
            alert('success'); 
            //do something here.
        } else {
            alert(result.error);
        }
        document.getElementById("username").value = "";
        document.getElementById("password").value = "";
        document.getElementById("email").value = "";
    }
</script>
