.link-light {
    text-decoration: none !important;
    color: white !important;
}

.homeContent {
    display: flex;
    flex-direction: column;
    width: 80%;
    float: none;
    text-align: center;
    margin: 0 auto;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
    font-size: 100%;
    counter-reset: counter;
}

#myForm {
    width:100%;
}

#roomName {
    height:40px;
}

.homeMessage {
    font-size: 150%;
    width: 35%;
    padding: 20px;
}

.formCss {
    width: 60%;
}

#list-template li::before {
    content: counter(counter);
    background: #292b2c;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-block;
    line-height: 2rem;
    color: white;
    text-align: center;
    margin-right: 0.5rem;
}

#list-template li {
    counter-increment: counter;
    margin: 0.25rem;
}

#list-template{
    text-align: left;
}