#headerMessage {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#messageContainer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 35%;
    border: solid grey 1px;
    border-radius:5px;
    padding: 20px;
    margin-left: 32.5%;
    padding-bottom: 200px;
}

#username {
    font-weight: 600;
}

.title {
    padding: 15px;
    display: flex;
    justify-content: center;
}

.inputForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}

#individualMessage {
    margin: 5px;
    border-bottom: 1px solid grey;
    border-radius: 4px;
    padding-bottom: 10px;
    text-align: justify;
}

.link-light {
    text-decoration: none !important;
    color: white !important;
}

.chatInput {
    margin-top: -110px;
    width: 30%;
    margin-left: 35%;
}

#message {
    overflow-wrap: break-word;
}